In [1]:
%matplotlib inline
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [3]:
payments = pd.read_csv('./olist_order_payments_dataset.csv')

In [4]:
payments.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [5]:
payments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

In [11]:
payments_uniqueOrder_id=payments.order_id.nunique()

In [12]:
print(uniqueOrder_id)

99440

In [113]:
ordersInfo = pd.read_csv('./olist_orders_dataset.csv')

In [114]:
ordersInfo.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [115]:
ordersInfo_uniqueOrder_id=ordersInfo.order_id.nunique()
print(ordersInfo_uniqueOrder_id)

99441

In [26]:
ordersInfo_OrderStatus_id=ordersInfo.order_status.unique()
print(ordersInfo_OrderStatus_id)

['delivered' 'invoiced' 'shipped' 'processing' 'unavailable' 'canceled'
 'created' 'approved']

In [16]:
ordersInfo_uniqueCustomer_id=ordersInfo.customer_id.nunique()
print(ordersInfo_uniqueCustomer_id)

99441

In [102]:
productInfo = pd.read_csv('./olist_products_dataset.csv')
productInfo.head()
productName = pd.read_csv('./product_category_name_translation.csv')
productName.head()

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

In [88]:
orderReview=pd.read_csv('./olist_order_reviews_dataset.csv')
orderReview.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

In [95]:
orderDetailsMain=pd.read_csv('./olist_order_items_dataset.csv')
orderDetailsMain.head()
orderDetailsMain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [85]:
orderid=orderDetailsMain.order_id.nunique()
print(orderid)
prodid=orderDetailsMain.product_id.nunique()
print(prodid)

98666
32951

In [86]:
modelDataframe=orderDetailsMain[['order_id','product_id','price','freight_value']]

In [96]:
modelDataframe.head()
modelDataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 4 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   order_id       112650 non-null  object
 1   product_id     112650 non-null  object
 2   price          112650 non-null  float64
 3   freight_value  112650 non-null  float64
dtypes: float64(2), object(2)
memory usage: 3.4+ MB

In [74]:
orderid=modelDataframe.order_id.nunique()
print(orderid)

98666

In [103]:
productDescription=pd.merge(productInfo,productName,how='inner',on='product_category_name')

In [104]:
productDescription.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0,perfumery
1,6a2fb4dd53d2cdb88e0432f1284a004c,perfumaria,39.0,346.0,2.0,400.0,27.0,5.0,20.0,perfumery
2,0d009643171aee696f4733340bc2fdd0,perfumaria,52.0,150.0,1.0,422.0,21.0,16.0,18.0,perfumery
3,b1eae565a61935e0011ee7682fef9dc9,perfumaria,49.0,460.0,2.0,267.0,17.0,13.0,17.0,perfumery
4,8da90b37f0fb171b4877c124f965b1f6,perfumaria,56.0,733.0,3.0,377.0,18.0,13.0,15.0,perfumery

In [97]:
df1=pd.merge(modelDataframe,orderReview,how='inner',on='order_id')

In [98]:
df1.head()

,order_id,product_id,price,freight_value,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,00010242fe8c5a6d1ba2dd792cb16214,4244733e06e7ecb4970a6e2683c13e61,58.90,13.29,97ca439bc427b48bc1cd7177abe71365,5,NaN,"Perfeito, produto entregue antes do combinado.",2017-09-21 00:00:00,2017-09-22 10:57:03
1,00018f77f2f0320c557190d7a144bdd3,e5f2d52b802189ee658865ca93d83a8f,239.90,19.93,7b07bacd811c4117b742569b04ce3580,4,NaN,NaN,2017-05-13 00:00:00,2017-05-15 11:34:13
2,000229ec398224ef6ca0657da4fc703e,c777355d18b72b67abbeef9df44fd0fd,199.00,17.87,0c5b33dea94867d1ac402749e5438e8b,5,NaN,Chegou antes do prazo previsto e o produto sur...,2018-01-23 00:00:00,2018-01-23 16:06:31
3,00024acbcdf0a6daa1e931b038114c75,7634da152a4610f1595efa32f14722fc,12.99,12.79,f4028d019cb58564807486a6aaf33817,4,NaN,NaN,2018-08-15 00:00:00,2018-08-15 16:39:01
4,00042b26cf59d7ce69dfabb4e55b4fd9,ac6c3623068f30de03045865e4e10089,199.90,18.14,940144190dcba6351888cafa43f3a3a5,5,NaN,Gostei pois veio no prazo determinado .,2017-03-02 00:00:00,2017-03-03 10:54:59

In [101]:
orderid=df1.order_id.nunique()
print(orderid)
prodid=df1.product_id.nunique()
print(prodid)

98666
32951

In [100]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 113322 entries, 0 to 113321
Data columns (total 10 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   order_id                 113322 non-null  object
 1   product_id               113322 non-null  object
 2   price                    113322 non-null  float64
 3   freight_value            113322 non-null  float64
 4   review_id                113322 non-null  object
 5   review_score             113322 non-null  int64
 6   review_comment_title     13622 non-null   object
 7   review_comment_message   48592 non-null   object
 8   review_creation_date     113322 non-null  object
 9   review_answer_timestamp  113322 non-null  object
dtypes: float64(2), int64(1), object(7)
memory usage: 9.5+ MB

In [105]:
df2=pd.merge(df1,productDescription,how='inner',on='product_id')

In [106]:
df2.head()

,order_id,product_id,price,freight_value,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english
0,00010242fe8c5a6d1ba2dd792cb16214,4244733e06e7ecb4970a6e2683c13e61,58.9,13.29,97ca439bc427b48bc1cd7177abe71365,5,NaN,"Perfeito, produto entregue antes do combinado.",2017-09-21 00:00:00,2017-09-22 10:57:03,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0,cool_stuff
1,130898c0987d1801452a8ed92a670612,4244733e06e7ecb4970a6e2683c13e61,55.9,17.96,b11cba360bbe71410c291b764753d37f,5,NaN,"lannister como sempre, entregou certinho e den...",2017-07-14 00:00:00,2017-07-17 12:50:07,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0,cool_stuff
2,532ed5e14e24ae1f0d735b91524b98b9,4244733e06e7ecb4970a6e2683c13e61,64.9,18.33,af01c4017c5ab46df6cc810e069e654a,4,super recomendo,carrinho muito bonito,2018-06-05 00:00:00,2018-06-06 21:41:12,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0,cool_stuff
3,6f8c31653edb8c83e1a739408b5ff750,4244733e06e7ecb4970a6e2683c13e61,58.9,16.17,8304ff37d8b16b57086fa283fe0c44f8,5,NaN,NaN,2017-08-10 00:00:00,2017-08-13 03:35:17,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0,cool_stuff
4,7d19f4ef4d04461989632411b7e588b9,4244733e06e7ecb4970a6e2683c13e61,58.9,13.29,426f43a82185969503fb3c86241a9535,5,NaN,NaN,2017-08-25 00:00:00,2017-08-28 00:51:18,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0,cool_stuff

In [107]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 111686 entries, 0 to 111685
Data columns (total 19 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       111686 non-null  object
 1   product_id                     111686 non-null  object
 2   price                          111686 non-null  float64
 3   freight_value                  111686 non-null  float64
 4   review_id                      111686 non-null  object
 5   review_score                   111686 non-null  int64
 6   review_comment_title           13533 non-null   object
 7   review_comment_message         47859 non-null   object
 8   review_creation_date           111686 non-null  object
 9   review_answer_timestamp        111686 non-null  object
 10  product_category_name          111686 non-null  object
 11  product_name_lenght            111686 non-null  float64
 12  product_description_lenght     111686 non-null  float64
 13  product_photos_qty             111686 non-null  float64
 14  product_weight_g               111685 non-null  float64
 15  product_length_cm              111685 non-null  float64
 16  product_height_cm              111685 non-null  float64
 17  product_width_cm               111685 non-null  float64
 18  product_category_name_english  111686 non-null  object
dtypes: float64(9), int64(1), object(9)
memory usage: 17.0+ MB

In [109]:
df3=df2[['order_id','product_id','review_score','price','freight_value','review_comment_title','review_comment_message','product_category_name_english']]

In [110]:
df3.head()

,order_id,product_id,review_score,price,freight_value,review_comment_title,review_comment_message,product_category_name_english
0,00010242fe8c5a6d1ba2dd792cb16214,4244733e06e7ecb4970a6e2683c13e61,5,58.9,13.29,NaN,"Perfeito, produto entregue antes do combinado.",cool_stuff
1,130898c0987d1801452a8ed92a670612,4244733e06e7ecb4970a6e2683c13e61,5,55.9,17.96,NaN,"lannister como sempre, entregou certinho e den...",cool_stuff
2,532ed5e14e24ae1f0d735b91524b98b9,4244733e06e7ecb4970a6e2683c13e61,4,64.9,18.33,super recomendo,carrinho muito bonito,cool_stuff
3,6f8c31653edb8c83e1a739408b5ff750,4244733e06e7ecb4970a6e2683c13e61,5,58.9,16.17,NaN,NaN,cool_stuff
4,7d19f4ef4d04461989632411b7e588b9,4244733e06e7ecb4970a6e2683c13e61,5,58.9,13.29,NaN,NaN,cool_stuff

In [116]:
df4=pd.merge(df3,ordersInfo,how='inner',on='order_id')

In [117]:
df4.head()

,order_id,product_id,review_score,price,freight_value,review_comment_title,review_comment_message,product_category_name_english,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,00010242fe8c5a6d1ba2dd792cb16214,4244733e06e7ecb4970a6e2683c13e61,5,58.9,13.29,NaN,"Perfeito, produto entregue antes do combinado.",cool_stuff,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,2017-09-13 09:45:35,2017-09-19 18:34:16,2017-09-20 23:43:48,2017-09-29 00:00:00
1,130898c0987d1801452a8ed92a670612,4244733e06e7ecb4970a6e2683c13e61,5,55.9,17.96,NaN,"lannister como sempre, entregou certinho e den...",cool_stuff,e6eecc5a77de221464d1c4eaff0a9b64,delivered,2017-06-28 11:52:20,2017-06-29 02:44:11,2017-07-05 12:00:33,2017-07-13 20:39:29,2017-07-26 00:00:00
2,532ed5e14e24ae1f0d735b91524b98b9,4244733e06e7ecb4970a6e2683c13e61,4,64.9,18.33,super recomendo,carrinho muito bonito,cool_stuff,4ef55bf80f711b372afebcb7c715344a,delivered,2018-05-18 10:25:53,2018-05-18 12:31:43,2018-05-23 14:05:00,2018-06-04 18:34:26,2018-06-07 00:00:00
3,6f8c31653edb8c83e1a739408b5ff750,4244733e06e7ecb4970a6e2683c13e61,5,58.9,16.17,NaN,NaN,cool_stuff,30407a72ad8b3f4df4d15369126b20c9,delivered,2017-08-01 18:38:42,2017-08-01 18:55:08,2017-08-02 19:07:36,2017-08-09 21:26:33,2017-08-25 00:00:00
4,7d19f4ef4d04461989632411b7e588b9,4244733e06e7ecb4970a6e2683c13e61,5,58.9,13.29,NaN,NaN,cool_stuff,91a792fef70ecd8cc69d3c7feb3d12da,delivered,2017-08-10 21:48:40,2017-08-10 22:05:11,2017-08-11 19:43:07,2017-08-24 20:04:21,2017-09-01 00:00:00

In [118]:
df5=df4[['order_id','product_id','order_status','review_score','price','freight_value','review_comment_title','review_comment_message','product_category_name_english']]

In [120]:
df5.head()

,order_id,product_id,order_status,review_score,price,freight_value,review_comment_title,review_comment_message,product_category_name_english
0,00010242fe8c5a6d1ba2dd792cb16214,4244733e06e7ecb4970a6e2683c13e61,delivered,5,58.9,13.29,NaN,"Perfeito, produto entregue antes do combinado.",cool_stuff
1,130898c0987d1801452a8ed92a670612,4244733e06e7ecb4970a6e2683c13e61,delivered,5,55.9,17.96,NaN,"lannister como sempre, entregou certinho e den...",cool_stuff
2,532ed5e14e24ae1f0d735b91524b98b9,4244733e06e7ecb4970a6e2683c13e61,delivered,4,64.9,18.33,super recomendo,carrinho muito bonito,cool_stuff
3,6f8c31653edb8c83e1a739408b5ff750,4244733e06e7ecb4970a6e2683c13e61,delivered,5,58.9,16.17,NaN,NaN,cool_stuff
4,7d19f4ef4d04461989632411b7e588b9,4244733e06e7ecb4970a6e2683c13e61,delivered,5,58.9,13.29,NaN,NaN,cool_stuff

In [127]:
finalDataFrame=df5.loc[df5['order_status']=='delivered']

In [128]:
finalDataFrame.head()

,order_id,product_id,order_status,review_score,price,freight_value,review_comment_title,review_comment_message,product_category_name_english
0,00010242fe8c5a6d1ba2dd792cb16214,4244733e06e7ecb4970a6e2683c13e61,delivered,5,58.9,13.29,NaN,"Perfeito, produto entregue antes do combinado.",cool_stuff
1,130898c0987d1801452a8ed92a670612,4244733e06e7ecb4970a6e2683c13e61,delivered,5,55.9,17.96,NaN,"lannister como sempre, entregou certinho e den...",cool_stuff
2,532ed5e14e24ae1f0d735b91524b98b9,4244733e06e7ecb4970a6e2683c13e61,delivered,4,64.9,18.33,super recomendo,carrinho muito bonito,cool_stuff
3,6f8c31653edb8c83e1a739408b5ff750,4244733e06e7ecb4970a6e2683c13e61,delivered,5,58.9,16.17,NaN,NaN,cool_stuff
4,7d19f4ef4d04461989632411b7e588b9,4244733e06e7ecb4970a6e2683c13e61,delivered,5,58.9,13.29,NaN,NaN,cool_stuff

In [130]:
finalDataFrame.to_csv('deliveredProduct.csv')

In [131]:
df5.to_csv('allProduct.csv')